/* Button.css */

.button-default {
    background-color: #00bcd4;
    color: #ffffff;
    border-radius: 0.50rem;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  
  .button-small {
    padding: 5px 15px;
    font-size: 0.875rem;
  }
  
  .button-medium {
    padding: 8px 16px;
    font-size: 1rem;
  }
  
  .button-large {
    padding: 12px 24px;
    font-size: 1.25rem;
  }
  
  .button-default:hover {
    background-color: #007f8e;
    box-shadow: 0 6px 8px rgba(50, 50, 93, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .no-data{
    padding: 180px;
  
  }

  .filter{
    width: 10px;
  }
  
